<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.oracle.labormarket.mapper.cdg.CdgIndustryMapper">
	<resultMap type="Cdg" id="resultMap">
		<result property="cdId" column="cd_id"/>
		<result property="cdName" column="cd_name"/>
	</resultMap>
	<select id="selectAll" resultMap="resultMap">
		select * from cdg_industry
	</select>
		<select id="selectNameById" parameterType="java.lang.String" resultType="java.lang.String">
		select cd_name from cdg_industry where cd_id = #{id}
	</select>	
</mapper>
